language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"
os:
  - linux
sudo: false
before_script:
  - sh -c "git log | head -12"
script:
  - npm run coverage
after_success:
  - coveralls < ./coverage/lcov.info
  - CODECLIMATE_REPO_TOKEN=2c2d04dbc291f12cab79a233be1a99f94f0f70ff73186a9b13e06a39f771d10a codeclimate-test-reporter < ./coverage/lcov.info
